@model IEnumerable<WestmeathLibraryEMS.Models.EventDay>

@{
    ViewData["Title"] = "Index";
}

<div class="section-heading-container col-11 offset-1">
    <h1 class="section-heading">Canceled Events</h1>
</div>


<div class="table-container col-11 offset-1 dataTableParentHidden">
    <table id="eventCancelledTable" class="table table-striped table-bordered display mt">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Id Code</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Contact's Last Name</th>
                <th>Date Added</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Guid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Venue.VenueName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Event.ContactLastName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Event.DateAdded)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("ADD NEW EVENT", "NewEvent", "Home", null, new { @class = "btn btn-info nav-back" })
    @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "btn btn-info nav-back" })
    <button class="btn btn-info nav-back" onclick="goBack()">&lt--- BACK</button>
</div>
